* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.displaynone {
  display: none;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #c00d0d;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 2rem;
  padding: 20px;
}

.container {
  padding: 50px;
}
